version: "{build}"
image: Visual Studio 2017

# Uncomment to debug via RDP
#init:
#  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
#
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

environment:
  APPVEYOR_RDP_PASSWORD:
    secure: yn73CHgZq4yvPt+v6fFUvKKA4YPZ5fyQ1JzctBZ9298=

install:

build_script:
  - ps: docker build -t docker-cli-builder .
  - ps: docker create docker-cli-builder
  - ps: docker cp $(docker ps -ql):/gopath/src/github.com/docker/cli/build/docker.exe C:\projects\docker-cli-builder\

test_script:
  - cd C:\projects\docker-cli-builder
  - .\docker.exe --version

artifacts:
- path: .\docker.exe
  name: Binary

deploy:
  provider: GitHub
  description: ' '
  auth_token:
    secure: hAIMIlM7Gu2wsNymUr0bBGTWE/64xRo4bDHAQkiiSHS8zptfP+CLsjo3G+K1CJrB
  on:
    branch: master
    appveyor_repo_tag: true
